body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

nav {
  background-color: #333;
  border-bottom: 1px solid #000;
  color: #fff;
  padding: 10px;
}

ul {
  text-align: right;
}

li {
  display: inline;
  list-style-type: none;
  margin: 10;
}

a {
  color: #fff;
  text-decoration: none;
}

figure {
  margin: 0 auto;
  width: 300px;

}

h1,
h2 {
  text-align: center;
}

form,
figure {
  margin: 0 auto;
  width: 300px
}




